@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?r3ocs2');
  src:  url('fonts/icomoon.eot?r3ocs2#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?r3ocs2') format('truetype'),
    url('fonts/icomoon.woff?r3ocs2') format('woff'),
    url('fonts/icomoon.svg?r3ocs2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-right:before {
  content: "\e91e";
}
.icon-delete:before {
  content: "\e900";
  color: #4a576a;
}
.icon-goodsIcon:before {
  content: "\e901";
}
.icon-shopIcon:before {
  content: "\e902";
}
.icon-upnewIcon:before {
  content: "\e903";
}
.icon-activeIcon:before {
  content: "\e904";
}
.icon-shop:before {
  content: "\e905";
}
.icon-shop-car:before {
  content: "\e906";
}
.icon-collection-selected:before {
  content: "\e907";
}
.icon-collection:before {
  content: "\e908";
}
.icon-shop-center:before {
  content: "\e909";
}
.icon-card:before {
  content: "\e90a";
}
.icon-yushu:before {
  content: "\e90b";
}
.icon-fahuo:before {
  content: "\e90c";
}
.icon-message:before {
  content: "\e90d";
}
.icon-setup:before {
  content: "\e90e";
}
.icon-message2:before {
  content: "\e90f";
}
.icon-seePage:before {
  content: "\e910";
}
.icon-shejiaoPage:before {
  content: "\e911";
}
.icon-homePage:before {
  content: "\e912";
}
.icon-mainPage:before {
  content: "\e913";
}
.icon-loaction:before {
  content: "\e914";
}
.icon-car-wuliu:before {
  content: "\e915";
}
.icon-search:before {
  content: "\e916";
}
.icon-browse-list:before {
  content: "\e917";
}
.icon-browse-grid:before {
  content: "\e918";
}
.icon-screen:before {
  content: "\e919";
}
.icon-up:before {
  content: "\e91a";
}
.icon-donw:before {
  content: "\e91b";
}
.icon-select:before {
  content: "\e91c";
}
.icon-classify:before {
  content: "\e91d";
}
